/*
Stylesheet for the input, loading, and results screens. Includes styles for popups at the bottom.
*/

//top level components
.background-colors {
    -fx-background-color: #1e691e;
    -fx-control-inner-background: #1e691e;
}


//control components
.control-colors {
    -fx-background-color: #3c963c;
    -fx-control-inner-background: #3c963c;
}


//control components (slightly different colors)
.control-accent-colors {
    -fx-background-color: #3ca03c;
    -fx-control-inner-background: #3ca03c;
}



.button {
    -fx-text-fill: #323232;
}

.button:hover {
    -fx-background-color: #3c6e3c;
}


.check-box *.box {
    -fx-background-color: #3c963c;
}

//check mark
.check-box:selected .mark {
    -fx-background-color: #505050;
}



//text color of choice box
.choice-box .label {
  -fx-font-family: "System";
  -fx-text-fill: black;
}



//text color of combo box
.combo-box .list-cell {
  -fx-text-fill: black;
}

//text color of combo box (when opened)
.combo-box .list-view .list-cell {
  -fx-text-fill: black;
}


.label {
    -fx-
}


.text-area {
    -fx-faint-focus-color: #3c673c;
    -fx-focus-color: #3c673c;
    -fx-text-fill: black;
}




.text-field {
    -fx-faint-focus-color: #3c673c;
    -fx-focus-color: #3c673c;
    -fx-text-fill: black;
}




//For dialogs

/* Header */
.dialog:header *.header-panel {
    -fx-background-color: #64851e;
}
.dialog:header *.header-panel *.label {
    -fx-fill: #1e691e;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 18px;
    -fx-pref-height: 50;
}

/* Label text */
.dialog > *.label.content {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 14px;
    -fx-font-weight: 100;
}

/* Middle background */
.dialog {
    -fx-background-color: #64751e;
}

/* Button bar */
.dialog > *.button-bar > *.container {
    -fx-background-color: #64751e;
}

/* Button */
.dialog .button {
    -fx-background-color: #64851e;
    -fx-text-fill: black;
}
.dialog .button:hover {
    -fx-background-color: #64651e;
}

.dialog .text-field {
    -fx-background-color: #64851e;
    -fx-text-fill: black;
}